body{
    background-color:rgb(252, 252, 252);
    padding-left: 10px;
    padding-right: 10px;
}

.linkContainer a, .linkContainer p{
    display:block;
    text-align:center
}

a{
    color:rgb(22, 28, 45)
}

.persistent a{
    width:100%;
    text-align:left;
    display:inline;
}

.persistent{
    margin-top:10px;
}

.prev{
    margin-right:10px
}

.chapterLinks{
    border-top: 1px;
    text-decoration:none;
    background-color:rgb(235, 235, 235);
}

img{
    max-height:50vh;
}

.chapterLinks:hover{
    filter:opacity(0.75);
}

p, h1, h2{
    font-family: 'Open Sans', sans-serif;
}

header{
    text-align:center;
}

.styledLink{
    background-color:rgb(235, 235, 235);
    border-radius:0.2rem;
    padding:0.2rem;
    text-decoration:none;
}

.styledLink:hover{
    filter:opacity(0.75);
}